@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: "AkkuratPro";
    src: url("../../../public/fonts/AkkuratPro-Regular.otf");
}

#tsparticles {
    position: absolute;
    z-index: 0;
    width: 100%;
}

@media screen and (max-width: 1022px) {
    #tsparticles {
        height: 60%;
    }
}

@media screen and (min-width: 1023px) and (max-width: 1365px) {
    #tsparticles {
        height: 55%;
    }
}

@media screen and (min-width: 1366px) and (max-width: 2559px) {
    #tsparticles {
        height: 50%;
    }
}

@media screen and (min-width: 2560px) {
    #tsparticles {
        height: 45%;
    }
}
