@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: "AkkuratPro";
    src: url("../../../public/fonts/AkkuratPro-Regular.otf");
}

#tsparticles {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
} 

:root {
    background-color: white;
}