@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: "AkkuratPro";
    src: url("../../../public/fonts/AkkuratPro-Regular.otf");
}

#tsparticles {
    position: absolute;
    z-index: 0;
    height: 47.5%;
    width: 100%;
}
